.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    height: 80px;
};

.logo{
    display: flex;
    align-items: center;
};

.nome h1{
  
}

.botao{
    background-color: transparent; 
    border: 2px solid black; 
    color: black; 
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;
}
.botao:hover{
    background-color: black; 
    color: white; 
}